[submodule "dashel"]
	path = dashel
	url = https://github.com/Mobsya/dashel.git
	branch = master
[submodule "enki"]
	path = enki
	url = https://github.com/enki-community/enki.git
	branch = aseba-1.6.x
[submodule "aseba"]
	path = aseba
	url = https://github.com/Mobsya/aseba.git
	branch = release-1.6.x
